@{
    ViewBag.Title = "Login Page";
}


<div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
    <div class="d-grid gap-2 col-4 mx-auto">
        <a class="btn btn-success" href="@Url.Action("Login", "Home")">Login</a>
        <a class="btn btn-success" href="@Url.Action("Registrate", "Home")">Registrate</a>
    </div>
</div>
