@using YangiBozor.Domain.Entities

@model User

<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>

<form asp-controller="Home" asp-action="Registrate" method="post">
    <div class="col-md-3 mb-3">
        <div class="form-outline">
            <label>First Name</label>
            <input type="text" class="form-control form-control-lg" asp-for="FirstName" />
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="form-outline">
            <label>Last Name</label>
            <input type="text" class="form-control form-control-lg" asp-for="LastName" />
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="form-outline">
            <label>Phone Number</label>
            <input type="text" class="form-control form-control-lg" asp-for="Phone" />
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="form-outline">
            <label>UserName</label>
            <input type="text" class="form-control form-control-lg" asp-for="UserName" />
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="form-outline">
            <label>Password</label>
            <input type="text" class="form-control form-control-lg" asp-for="Password" />
        </div>
    </div>

    <div class="mt-4 pt-2">
        <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
    </div>
</form>
